<div class="container">
	<div class="row">
		<div class="col-8 offset-2">
			<nav class="navbar navbar-dark bg-dark" id="link_btns">
			<form class="form-inline">
				<a href="/"><button class="btn btn-outline-danger" type="button">Sky Gazer</button></a>
				<a href="/rovers"><button class="btn btn-outline-danger" type="button">Track the Rover</button></a>
				<a href="/mars"><button class="btn btn-outline-danger" type="button">Mars Weather</button></a>
			</form>
			</nav>
		</div>
	</div>
</div>


<div id="mars">
   <div class="container">
       <h1>Mars Weather to Explore!!</h1>
       {{!-- data comes in as object  we use each on it--}}
       {{#each this}}
       {{!-- then we target each object key i.e. 302, 303, etc --}}
       {{!-- ensure no emty divs --}}
       {{#if this.First_UTC}}
       <div id="mars_data_container">
            <div>
                Date: {{this.First_UTC}}
            </div>
            {{/if}}
            {{#if this.Season}}
            <div class="{{@key}}" class="col-sm-9 text-center">
                {{!-- Then we can target the item we need.  --}}
                {{!-- Keep nesting as needed --}}
                Season: {{this.Season}}
            </div>
            {{/if}}
            {{#if this.AT}}
            <div>
                Temp. Low: {{this.AT.mn}}
            </div>
            <div>
                Temp. High: {{this.AT.mx}}
            </div>
            {{/if}}
                {{#if this.WD}}
            <div>
                Wind Direction: {{this.WD.most_common.compass_point}}
            </div>
            <br>
            <br>
        </div>
        {{/if}}
       {{/each}}
   </div>
</div>