<div id="rovers">
<div class="container">
 <div class="row">
      <div class="col-8 offset-2">


<nav class="navbar navbar-dark bg-dark" >
  <form class="form-inline">
    <button class="btn btn-outline-danger" type="button">Sky Gazer</button>
     <button class="btn btn-outline-danger" type="button">Track the Rover</button>
      <button class="btn btn-outline-danger" type="button">Mars Weather</button>
  </form>
</nav>

<h1>Mars Rover</h1>


{{#each photos}}
				
	<div class="col-sm-9 text-center">
		<pre>
            {{id}}            
            <img class="rovPic" src="{{img_src}}">
            Launch Date: {{rover.launch_date}}
            Landing Date: {{rover.landing_date}}
        </pre>
                    <!-- {{this.Date}} -->
                </div>
                {{!-- <div class="col-sm-3 text-center">
                    <form class="button-size" id="devour-form">
                        <button type="submit" value={{this.id}} class="btn btn-default devour">
                            it!</button>
                    </form>
                </div> --}}
            
                {{/each}}
</div>
</div>
</div>
</div>