<div id="rovers">
<div class="container">
<h1>Explorers</h1>
<<<<<<< HEAD
{{#each photos}}
                
    <div class="col-sm-9 text-center">
        <pre>
=======

{{#each photos}}
				
	<div class="col-sm-9 text-center">
		<pre>
>>>>>>> 4cada065e18cdcb526272d31a1cc04e2cebc222f
            {{id}}            
            <img class="rovPic" src="{{img_src}}">
            Launch Date: {{rover.launch_date}}
            landing_date: {{rover.landing_date}}
<<<<<<< HEAD
        </pre>
                    <!-- {{this.Date}} -->
                </div>
                {{!-- <div class="col-sm-3 text-center">
                    <form class="button-size" id="devour-form">
                        <button type="submit" value={{this.id}} class="btn btn-default devour">
                            it!</button>
                    </form>
                </div> --}}
            
                {{/each}}
=======
		</pre>
					<!-- {{this.Date}} -->
				</div>
				{{!-- <div class="col-sm-3 text-center">
					<form class="button-size" id="devour-form">

						<button type="submit" value={{this.id}} class="btn btn-default devour">
							it!</button>
					</form>
				</div> --}}
			
				{{/each}}
>>>>>>> 4cada065e18cdcb526272d31a1cc04e2cebc222f
</div>
</div>