<nav class="navbar navbar-dark bg-dark" >
  <form class="form-inline">
    <a href="/"><button class="btn btn-outline-danger" type="button">Sky Gazer</button></a>
     <a href="/rovers"><button class="btn btn-outline-danger" type="button">Track the Rover</button></a>
      <a href="/mars"><button class="btn btn-outline-danger" type="button">Mars Weather</button></a>
  </form>
</nav>

<div id="rovers">
<div class="container">
<h1>Pictures from the Mars Rover</h1>

{{#each photos}}
				
	<div class="col-sm-9 text-center">
		<pre>
            {{id}}            
            <img class="rovPic" src="{{img_src}}">
			<div style="color: white; font-weight: bold;">
				Launch Date: {{rover.launch_date}}
				Landing Date: {{rover.landing_date}}
			</div>
            
		</pre>
					<!-- {{this.Date}} -->
				</div>
				{{!-- <div class="col-sm-3 text-center">
					<form class="button-size" id="devour-form">

						<button type="submit" value={{this.id}} class="btn btn-default devour">
							it!</button>
					</form>
				</div> --}}
			
				{{/each}}
</div>
</div>